.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  grid-area: header;
  background: rgb(255, 0, 241);
  background: linear-gradient(180deg, #c165dd 0%, #5c27fe 100%);
  border-radius: 5px;
}

.header img {
  width: 80px;
}