.nav {
  grid-area: nav;
  background: rgb(255, 0, 241);
  background: linear-gradient(180deg, #5c27fe 0%, #c165dd 100%);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.item {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.item a {
  padding: 15px;
  display: block;
}

.item a:hover{
  color: #130126;
}

.item a.active {
  color: #130126;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 8px 0 rgb(26 15 63 / 8%);
  border-radius: 10px;
}
