* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.app-wrapper {
  margin: 0 auto;
  padding: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
      "header header"
      "nav content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: #003;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
}

