* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.button {
  background: #5c27fe;
  background: linear-gradient(-45deg, #5c27fe 0%, #c165dd 100%);
  box-shadow: 0 17px 40px 0 rgb(0 0 0 / 53%);
  color: #fff;
  font-size: 18px;
  width: 160px;
  padding: 10px 20px;
  border: none;
  border-radius: 999px;
}

.app-wrapper {
  margin: 0 auto;
  padding: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
      "header header"
      "nav content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: #003;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
}

